<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>crud</title>
    <link rel="stylesheet" href="/static/main/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main/assets/css/Navbar---Logo-Left---Phone-Logo-Left.css">
    <link rel="stylesheet" href="/static/main/assets/css/Navbar-Centered-Brand-Dark.css">
    <link rel="stylesheet" href="/static/main/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3" style="height: 63px;width: 1295.67px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle fs-1">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                </svg><span>User Management System</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-6"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6">
                <ul class="navbar-nav me-auto"></ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light me-2" role="button" href="#">Sign in</a><a class="btn btn-primary" role="button" href="#">Sign up</a></div>
        </div>
    <!-- </nav><button class="btn btn-primary" type="button" style="margin-top: 58px;margin-left: 95px;" href="main">New User&nbsp;</button> -->
</nav><div class="d-none d-md-block" style="margin-top: 58px;margin-left: 95px;"><a class="btn btn-primary" role="button" href="new">New User</a></div>
    <nav class="navbar navbar-light navbar-expand-md sticky-top" style="border-bottom: black solid 2px;height: 59.6px;min-width: 0px;width: 1296.67px;">
        <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto" style="padding-left: -8px;">
                    <li class="nav-item navitems" style="padding-left: -112px;">ID</li>
                    <li class="nav-item navitems">Name</li>
                    <li class="nav-item navitems">@Email</li>
                    <li class="nav-item navitems">Gender</li>
                    <li class="nav-item navitems">Status</li>
                    <li class="nav-item navitems">Action</li>
                </ul>
            </div>
        </div>
    </nav>

    <% for(var i = 0; i < users.length; i++) { %>
    <nav class="navbar navbar-light navbar-expand-md sticky-top" style="height: 59.6px;min-width: 0px;width: 1296.67px;">
        <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto" style="padding-left: -8px;">
                    <li class="nav-item navitems" style="padding-left: -112px;"><%= i + 1 %></li>
                    <li class="nav-item navitems"><%= users[i].myname %></li>
                    <li class="nav-item navitems"><%= users[i].mymail %></li>
                    <li class="nav-item navitems"><%= users[i].mygender %></li>
                    <li class="nav-item navitems"><%= users[i].mystatus %></li>
                    <li class="nav-item navitems">
                        <div class="d-none d-md-block" ><a class="btn btn-primary" role="button" href="update/<%= users[i]._id%>">Update</a></div>
                    </li>
                    <li class="nav-item navitems">
                        <div class="d-none d-md-block" ><a class="btn btn-primary" role="button" href="delete1/<%= users[i]._id%>">Delete</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <% } %>

    <script src="/static/main/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>